.App {
  text-align: justify;
}

.notification-warning {
  width: 100%;
  padding-top: 10px;
}

.btn-plus {
  text-align: end;
  position: relative;
  margin-top: -1em;
}

.btn-plus-end {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align-last: end;
  right: 0;
  margin-right: 50px;
}

.card-register {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

.card-chart {
  text-align: center;
  padding: 0px;
  width: 580px;
  height: 440px;
  margin-top: 20px;
}

.card-chart-content {
  text-align: center;
  width: 540px;
  height: 310px;
  padding: 0px;
  margin: auto;
}

.card-content {
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  padding: 0px;
  width: 210px;
  height: 180px;
  margin-top: 20px;
}

.text-agile {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
}

.form-text {
  width: 100%;
  margin-top: 25px !important;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.select-option {
  padding: 2px;
  width: 320px;
}

.select-option-less-0 {
  padding: 2px;
  width: 180px;
  background-color: #ffff86;
}

.select-option-less-1 {
  padding: 2px;
  width: 180px;
  background-color: #86c8ff;
}

.select-option-less-2 {
  padding: 2px;
  width: 180px;
  background-color: #ff8686;
}

.select-option-less-3 {
  padding: 2px;
  width: 180px;
  background-color: #8aff86;
}